/* Footer Specific Styles */
footer {
    padding: 1.25rem 0;
    width: 100%;
    background-color: #645452;
    color: #DFCFB7;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
    padding: 0 2rem;
}

.footer-section {
    flex: 1;
    min-width: 15.625rem; /* 250px */
    margin-bottom: 1.25rem;
}

    .footer-section h2 {
        font-size: 1.7rem;
        color: #43B3AE;
        margin-bottom: 0.625rem;
    }

    .footer-section p,
    .footer-section ul {
        font-size: 1.325rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .footer-section ul li {
            margin-bottom: 0.625rem; /* 10px */
        }

            .footer-section ul li a {
                color: #DFCFB7;
                text-decoration: none;
                transition: color 0.3s ease;
            }

                .footer-section ul li a:hover {
                    color: #43B3AE;
                }

/* Social Links */
.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}

    .socials a {
        color: #DFCFB7;
        font-size: 1.5rem; /* 24px */
        transition: color 0.3s ease;
    }

        .socials a:hover {
            color: #43B3AE;
        }

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    padding-top: 0.625rem;
    background-color: #443938;
    color: #DFCFB7;
    font-size: 1.14rem;
}

/* Media Queries */
@media (max-width: 767px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section h2 {
        font-size: 1.55rem;
    }

    .footer-section p,
    .footer-section ul {
        font-size: 1.2rem;
    }

    .socials {
        justify-content: center;
        padding-top: 1.3rem;
    }

        .socials a {
            font-size: 1.35rem;
        }
}
