
/* Base Styles */
body {
    background-color: #DFCFB7;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    
}



section {
    padding-top: 2.5rem; /* 40px */
    margin-top: 1.25rem; /* 20px */
}

/* Header Image Container */
.header_image_container {
    margin-top: 3.75rem; /* 60px */
    position: relative;
    min-height: 31.25rem; /* 500px */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.header_content {
    max-width: 43.75rem; /* 700px */
    padding: 5rem 2rem;
    font-family: 'Poppins', sans-serif;
}

    .header_content h1 {
        background-color: #DFCFB7;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        font-size: 2.4875rem; /* 3.5rem */
        line-height: 2.5rem;
        font-weight: 700;
        color: #645452;
    }

    .header_content h3 {
        background-color: #DFCFB7;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        font-size: 2.0875rem; /* 3.5rem */
        line-height: 2.1rem;
        font-weight: 500;
        color: #645452;
    }

    .header_content p {
        background-color: #DFCFB7;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: #645452;
    }

.discover {
    background-color: #645452;
    color: #DFCFB7;
    border: 0.125rem solid #DFCFB7;
    border-radius: 0.613rem;
    padding: 0.626rem 1.253rem;
    cursor: pointer;
    font-size: 1.28rem;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
    justify-content: center;
}

    .discover:hover {
        color: #645452;
        background-color: #DFCFB7;
        letter-spacing: 0.069rem;
        transition: background-color 0.3s;
    }
    /*End*/


    /* Slider */
    .body {
        min-height: 40vh;
        max-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EFEFEF;
        border-radius: 2rem;
        font-family: 'Poppins', sans-serif;
    }

.slide-container {
    max-width: 70rem; /* 1120px */
    width: 100%;
    padding: 1.25rem 0; /* 20px */
}

.slide-content {
    overflow: hidden;
    border-radius: 1.5625rem; /* 25px */
    margin: 2.5rem; /* 40px */
}

.card {
    width: 20rem; /* 320px */
    border-radius: 1.5625rem; /* 25px */
    background-color: #FFF;
}

.card-wrapper {
    padding-bottom: 1.25rem; /* 20px */
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem 0.875rem; /* 10px 14px */
}

.image-content {
    position: relative;
    row-gap: 0.3125rem; /* 5px */
    padding: 1.5625rem 0; /* 25px */
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #645452;
    border-radius: 1.5625rem 1.5625rem 0 1.5625rem; /* 25px */
}

    .overlay::before,
    .overlay::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -40px;
        height: 40px;
        width: 40px;
        background-color: #645452;
    }

    .overlay::after{
        border-radius: 0 25px 0 0;
        background-color:#FFF;
    }

.card-image {
    position: relative;
    height: 9.375rem; /* 150px */
    width: 9.375rem; /* 150px */
    border-radius: 50%;
    background: #FFF;
    padding: 0.1875rem; /* 3px */
}

        .card-image .card-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid #645452;
        }

.name{
    font-size:18px;
    font-weight:500;
    color:#333;
}

.description{
    font-size:14px;
    color:#707070;
    text-align: center;

}
.button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #645452;
    color: #DFCFB7;
    border-radius: 0.375rem;
}

.button {
    border: none;
    font-size: 1rem;
    color: #DFCFB7;
    padding: 0.5rem 1rem;
    background-color: #645452;
    border-radius: 0.375rem;
    margin: 0.875rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background:#645452;
    color: #DFCFB7;
}

.swiper-navBtn {
    color: #645452;
    transition: color 0.3s ease;
}

    .swiper-navBtn:hover {
        color: #DFCFB7;
    }

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}

.swiper-button-next{
    right: 0;
}

.swipe-button-prev{
    left:0;
}

.swiper-pagination.bullet {
    background-color: #DFCFB7;
    opacity: 1;
}

.swiper-pagination.bullet-active {
    background-color: #645452;
}

@media screen and (max-width:758px){
   .slide-content{
       margin: 0 10px;
   }
    .swiper-navBtn{
        display:none;
    }
}

@media (max-width: 1024px) {
    .header_content h1 {
        font-size: 2rem;
    }
}

@media (max-width: 767px) {
    .header_content h1 {
        font-size: 1.75rem;
    }

    .card {
        width: 18rem;
    }
}

@media (max-width: 480px) {
    

    .header_content h1 {
        font-size: 1.5rem;
    }

    .card {
        width: 15rem;
    }
}


/*End*/




/*Display Grid*/
:root {
    --text-dark: #333;
    --text-light: #666;
}

.grid-background {
    min-height: 60vh;
    max-height: 160vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
    border-radius: 2rem;
    font-family: Poppins, sans-serif;
}


.Display-container h2 {
    font-size: 1.8rem; /* 2rem = 32px */
    margin-bottom: 1.25rem; /* 20px */
    background-color: #645452;
    color: #DFCFB7;
    border-radius: 0.613rem;
    padding: 0.626rem 1.253rem;
    text-decoration: none;
    text-align: center; /* Center the content */
    display: inline-block; /* To center with text-align */
}


.Display-container {
    padding: 0 1.25rem 1.25rem; /* 20px */
    max-width: 70rem; /* 1120px */
    width: 100%;
}

.popular_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); /* Flexible grid */
    gap: 1.25rem; /* 20px */
    margin: 0.5rem 0;
    max-height:155rem;
}

.popular_card {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0.3125rem 0.3125rem 1.25rem rgba(0, 0, 0, 0.1); /* 5px 5px 20px */
    background-color: #FFF;
    transition: transform 0.3s ease; /* Smooth scaling */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}
    .popular_card:hover {
        transform: scale(1.02); /* Slight scaling effect */
    }

    .popular_card img {
        width: 100%; /* Ensures the image fits within the card */
        height: auto;
    }

.popular_content {
    padding: 1rem;
}

.popular_card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.3125rem; /* 5px */
}

    .popular_card_header h4 {
        font-size: 1.3rem; /* 1.5rem */
        font-weight: 600;
        color: var(--text-dark, #333);
    }

.popular_content p {
    color: var(--text-dark, #333);
    font-weight: 400;
    font-size: 1.2rem; /* 1.2rem */
}


.popular_container {
    max-width: 75rem; /* 1200px */
    margin: auto;
    padding: 0 1.25rem; /* 20px */
}

/*End*/

@media (max-width: 1024px) {
    .Display-container h2 {
        font-size: 1.75rem;
    }

    .popular_grid {
        padding: 1rem;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem; /* Reduced gap */
    }

    .popular_content p {
        font-size: 1rem; /* Slightly smaller font */
    }
}
@media(width<900px){

    section {
        padding-top: 2.5rem; /* 40px */
        margin-top: 1.25rem; /* 20px */
    }

    .popular_grip{
        grid-template-columns: repeat(1, 1fr);
        gap:1rem;
    }

    .popular_content p {
        font-size: 1rem;
    }

    .popular_card_header h4{
        font-size:1.2rem;
    }

    .popular_card {
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 767px) {
    .Display-container h2 {
        font-size: 1.5rem;
    }

    .section-container{
        margin:5rem 0 10rem 0;
    }

    .popular_grid {
        grid-template-columns: 1fr; /* Single-column layout for smaller screens */

    }

    .popular_card_header h4, .popular_content p {
        font-size: 0.875rem; /* Adjusted for smaller screens */
    }

    .popular_container {
        padding: 0 1rem;
    }
}

@media (max-width: 480px) {
    .Display-container h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .popular_content p {
        font-size: 0.875rem;
    }
}

@media(width<600px){
    section {
        padding-top: 2rem; /* 40px */
        margin-top: 1rem; /* 20px */
    }
    .header_container{
        padding-bottom:25rem;
    }

    .popular_grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .popular_content p {
        font-size: 1rem;
    }

    .popular_card_header h4 {
        font-size: 1rem;
    }

    .popular_card {
        padding: 0px 0px 0px 0px;
    }
}